<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    
    <clear />
    <add key="X:\Users\valer\.nuget" value="X:\Users\valer\.nuget" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="X:\Users\valer\.nuget" />
  </config>
  <disabledPackageSources>
    <add key="CliFallbackFolder" value="true" />
  </disabledPackageSources>
</configuration>