<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    
    <clear />
    
     <add key="myget" value="https://www.myget.org/F/nuget-dotnet/api/v3/index.json" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="X:\Users\valer\.nuget" />
  </config>
  <disabledPackageSources>
    <add key="CliFallbackFolder" value="true" />
  </disabledPackageSources>
</configuration>
